.showContent {
    display:flex;
    margin-top:2rem;
    margin-bottom:2rem;
    flex-direction: row;
    justify-content: center;
    align-items:center;    
    border: 1px solid gainsboro
}

.showContent .cart {
    display: flex;
    margin-top:2rem;
    flex-direction: column;
    height: 400px;
    width: 50%;
}

.showContent .containerCar {
    width: 100%;
}

.section-cart {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    font-size: 12px;
    width: 100%;
}
.showContent .confirm-data {
    display: flex;
    flex-direction: column;
    
    width: 20%;
    align-items: flex-start;
    height: 400px;
    padding: 20px;
}

.showContent button {
    font-size: 1.5rem;
    height: 3rem;    
    margin-top: 10px;
    width: 100%;
}

.showContent .form-data {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 20px;
    height: 400px;
    align-items: start;
}

.showContent p {
    margin-bottom: 1rem;
}

.showContent input {
    margin-bottom: 3rem;
    font-size: 2rem;
}

.showContent form {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.hideContent {
    display:none
}


.cart-container {
    display: grid;
    justify-content: center;
    width: 600px;
    grid-template-areas:
    "img title price qty subtotal premove";
    background-color: honeydew;
    /* height: 100vh; */
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    /* grid-auto-flow: row; */
    grid-auto-rows: 100px;
    align-content:start;
    align-items: center;
    font-size: 2rem;
}

.item-img {
    /* border:1px solid blue; */
    /* grid-area:qty */
}

.item-title {
    /* border:1px solid blue; */
    /* grid-area:title */
}

.item-price {
    /* border:1px solid blue; */
    /* grid-area:price */
}


.item-qty {
    /* border:1px solid blue; */
    /* grid-area:qty */
}

.item-subtotal {
    /* border:1px solid blue; */
    /* grid-area:subtotal */
}

.item-premove {
    /* border:1px solid blue; */
    /* grid-area:premove */
}
