.itemList {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top:2rem;
    margin-bottom:3rem;
}

.itemList .container {
    background-color:ghostwhite;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.7rem;
    width: 70%;
}

.itemList .container ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.itemList .container li{
    display:list-item;
    list-style: none;
    margin-top:1.3rem;
}

.itemList p {
    font-size: 2.2rem;
}

.item {
    margin-top: 2rem;
}

.item-container {
    border:1px solid goldenrod;
}