.itemList {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top:2rem;
    margin-bottom:3rem;
    /* background-color:blueviolet */
}

.itemList .container {
    background-color:ghostwhite;
    /* background-color:burlywood; */
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items:flex-start;
    font-size: 1.7rem;
    width: 70%;
}

.itemList .container section {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    height: 100%;
    width: 80%
}

.itemList .container aside {
    /* background-color:chartreuse; */
    width: 20%
}
.itemList .container aside p {
    margin: 3rem 0 3rem 0;
}

.itemList .container aside a {
    text-decoration: none;
}

.itemList .container ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.itemList .container li{
    display:list-item;
    list-style: none;
    margin-top:1.3rem;
}

.itemList p {
    font-size: 2.2rem;
}

.item {
    margin-top: 2rem;
}

